@using Microsoft.Build.Construction
@model IEnumerable<BloodDonorProject.Models.BloodDonor>

@{
    ViewData["Title"] = "Index";
}

<h1>Blood Donor List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(m => m.First().FullName)</th>
        <th>@Html.DisplayNameFor(m => m.First().ContactNumber)</th>
        <th>@Html.DisplayNameFor(m => m.First().DateOfBirth)</th>
        <th>@Html.DisplayNameFor(m => m.First().Email)</th>
        <th>@Html.DisplayNameFor(m => m.First().BloodGroup)</th>
        <th>@Html.DisplayNameFor(m => m.First().Weight)</th>
        <th>@Html.DisplayNameFor(m => m.First().Address)</th>
        <th>@Html.DisplayNameFor(m => m.First().LastDonationDate)</th>
        <th>@Html.DisplayNameFor(m => m.First().ProfilePicture)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        //string profilePicturePath = null;
        foreach (var item in Model)
        {  
            <tr>
                <td>@item.FullName</td>
                <td>@item.ContactNumber</td>
                <td>@item.DateOfBirth.ToShortDateString()</td>
                <td>@item.Email</td>
                <td>@item.BloodGroup.ToString().Replace("_Positive", "+").Replace("_Negative", "-")</td>
                <td>@item.Weight</td>
                <td>@item.Address</td>
                <td>@(item.LastDonationDate.HasValue ? item.LastDonationDate.Value.ToShortDateString() : "N/A")</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ProfilePicture))
                    {
                        <img src="@item.ProfilePicture" alt="Profile Picture" style="width: 50px; height: 50px;"/>
                    }
                    else
                    {
                        <img src="ProfilePictures/profile-icon.png" alt="Profile Picture" style="width: 50px; height: 50px;"/>
                    }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="9">No donors found.</td>
        </tr>
    }
    </tbody>
</table>
